<main class="main">
  <div class="inner">
    <div class="course__wrapper">
      <p class="course__hedding">
        <%= @course.course_name %>
      </p>
        <div class="course__image">
          <%= image_tag @course.image %>
        </div>
        <div class="course__body">
          <div class="course__detail">
            <p class="detail__title">コース情報</p>
            <p class="detail__message">
              <%= @course.course_introduction %>
            <p class="detail__title">コース価格</p>
            <p class="detail__message">
              <%= "￥" %><%= @course.price %>
            <p class="detail__title">コーチング回数上限</p>
            <p class="detail__message">
              <%= @course.max_number %>
            <p class="detail__title">リードタイム</p>
            <p class="detail__message">
              <%= @course.lead_time_id %> 
            <p class="detail__title">返信ができない期間</p>
            <p class="detail__message">
              <%= @course.no_reply_period %>
            <p class="detail__title">備考欄</p>
            <p class="detail__message">
              <%= @course.remarks %>                 
            </p><br>
            <%= link_to "選択可能なコーチをみる", course_coaches_path(@course.id), class: :nav__btn %><br>
            <%= link_to "購入画面に進む", root_path, class: :nav__btn2 %>
          </div>
        </div>
    </div>
  </div>
  <%= link_to "コーチを登録する", new_course_coach_path(@course.id), class: :nav__btn %>
  <%#= link_to "d", course_path(@course.id), method: :delete %>
</main>
