<main class="main">
  <div class="inner">
    <div class="course__wrapper">
      <p class="course__hedding">
        <%= @course.course_name %>
      </p>
      <%# // (済）プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
        <div class="course__image">
          <%= image_tag @course.image %>
        </div>
        <div class="course__body">
          <div class="course__detail">
            <p class="detail__title">コース情報</p>
            <p class="detail__message">
              <%= @course.course_introduction %>
            <p class="detail__title">コース価格</p>
            <p class="detail__message">
              <%= "￥" %><%= @course.price %>
            <p class="detail__title">コーチング回数上限</p>
            <p class="detail__message">
              <%= @course.max_number %>
            <p class="detail__title">リードタイム</p>
            <p class="detail__message">
              <%= @course.lead_time_id %> 
            <p class="detail__title">返信ができない期間</p>
            <p class="detail__message">
              <%= @course.no_reply_period %>
            <p class="detail__title">備考欄</p>
            <p class="detail__message">
              <%= @course.remarks %>                   
            </p>
          </div>
        </div>
    </div>
  </div>
</main>
